# ==========================================
# iOS / Xcode
# ==========================================
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.idea/
.DS_Store